/* Root variables */

:root {
  --cards-font-family: Inter, sans-serif;
  --fantasy-font-family: "Press Start 2P", fantasy;
  --heart-color: #ff0000;
	--page-background: #fff;
  --background-color: #d3d3d3;
  --bg-color-beginning: #e7e7e7;
  --bg-color-last: #1a1a1a;
  --title-font-wght: "wght" 700;
  --text-font-wght: "wght" 400;
  --header-bg: var(--page-background);
  --text-color: #000;
  --mix-blend-color: var(--page-background);
  --stroke-color: var(--text-color);
  --label-stroke-color: var(--page-background);

  --gradient-line-1: rgb(211 211 211);
  --gradient-line-2: rgb(211 211 211 / 0%);
  --gradient-smeared-1: #e7e7e7;
  --gradient-smeared-2: #1a1a1a;
  --gradient-left-to-right: repeating-linear-gradient(
    to right,
    var(--gradient-line-2) 0,
    var(--gradient-line-1) 1px,
    var(--gradient-line-1) 2px,
    var(--gradient-line-2) 3px,
    var(--gradient-line-2) 4px
  );
  --gradient-top-to-bottom: repeating-linear-gradient(
    to bottom,
    var(--gradient-line-2) 0,
    var(--gradient-line-1) 1px,
    var(--gradient-line-1) 2px,
    var(--gradient-line-2) 3px,
    var(--gradient-line-2) 4px
  );
  --gradient-background: linear-gradient(
    to bottom,
    var(--gradient-smeared-1) 0.01%,
    var(--gradient-smeared-2)
  );
}


