/* Animation */

.theme-menu {
  &__button {
    &:disabled {
      &::before {
        -webkit-animation: arrow-animation 0.5s ease-in-out infinite alternate;
        animation: arrow-animation 0.5s ease-in-out infinite alternate;
      }
    }
  }
}

.like-icon {
  &.is-liked {
    .heart {
      -webkit-animation: scale-animation 0.3s ease-in 0.1s 1 alternate;
      animation: scale-animation 0.3s ease-in 0.1s 1 alternate;
    }

    .sparks {
      -webkit-animation: sparks-animation 0.3s ease-in 0.3s 1 alternate;
      animation: sparks-animation 0.3s ease-in 0.3s 1 alternate;
    }
  }
}

@-webkit-keyframes arrow-animation {
  from {
    left: -20px;
  }

  to {
    left: -16px;
  }
}

@keyframes arrow-animation {
  from {
    left: -20px;
  }

  to {
    left: -16px;
  }
}

@-webkit-keyframes scale-animation {
  from {
    scale: 1;
  }

  to {
    scale: 1.5;
  }
}

@keyframes scale-animation {
  from {
    scale: 1;
  }

  to {
    scale: 1.5;
  }
}

@-webkit-keyframes sparks-animation {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes sparks-animation {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
