$accent-font-family: var(--fantasy-font-family);
$text-font-wght: var(--text-font-wght);
$title-font-wght: var(--title-font-wght);
$page-background: var(--page-background);
$background-color: var(--background-color);
$bg-color-beginning: var(--bg-color-beginning);
$bg-color-last: var(--bg-color-last);
$header-bg: var(--header-bg);
$heart-color: var(--heart-color);
$text-color: var(--text-color);

$label-stroke-color: var(--label-stroke-color);
$mix-blend-color: var(--mix-blend-color);
$stroke-color: var(--stroke-color);

@mixin PressStart2PFont($fs) {
  font-family: $accent-font-family;
  font-size: $fs;
}

.page {
  font-variation-settings: $text-font-wght;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  color: $text-color;
  background: repeating-linear-gradient(
      90deg,
      $background-color,
      $background-color 2px,
      transparent 2px,
      transparent 4px
    ),
    repeating-linear-gradient(
      180deg,
      $bg-color-beginning,
      $bg-color-last 2px,
      transparent 2px,
      transparent 4px
    ),
    repeating-linear-gradient(
      180deg,
      $bg-color-beginning 0.01%,
      $bg-color-last
    );
  background-attachment: fixed;
  background-size: cover;
}

.grayscale {
  -webkit-filter: grayscale(50%);
  filter: grayscale(50%);
}

.hue-rotate {
  -webkit-filter: hue-rotate(30deg);
  filter: hue-rotate(30deg);
}

.saturate {
  -webkit-filter: saturate(360%);
  filter: saturate(360%);
}

.invert {
  -webkit-filter: invert(80%);
  filter: invert(80%);
}

.sepia {
  -webkit-filter: sepia(80%);
  filter: sepia(80%);
}

.blur {
  -webkit-filter: blur(20px);
  filter: blur(20px);
}

.multi-filter {
  -webkit-filter: saturate(250%) hue-rotate(90deg) grayscale(20%) invert(25%)
    blur(2px);
  filter: saturate(250%) hue-rotate(90deg) grayscale(20%) invert(25%) blur(2px);
}

.image-label {
  @include PressStart2PFont(14px);
  font-variation-settings: $text-font-wght;
  z-index: 1;
  opacity: 0.5;
  mix-blend-mode: hard-light;
  text-shadow: -1px 0 $label-stroke-color, 0 1px $label-stroke-color,
    1px 0 $label-stroke-color, 0 -1px $label-stroke-color;
  position: absolute;
  right: 25px;
  top: 27px;

  @supports (
    (text-stroke: 1px $label-stroke-color) or
      (-webkit-text-stroke: 1px $label-stroke-color)
  ) {
    text-shadow: none;
    -webkit-text-stroke: 1px $label-stroke-color;
    text-stroke: 1px $label-stroke-color;
  }

  @media (width <= 375px) {
    right: 10px;
    top: 24px;
  }
}

.floppy-image {
  width: 21px;
  height: 21px;
  mix-blend-mode: difference;

  @media (width <= 375px) {
    width: 28px;
    height: 28px;
  }
}

.like-icon {
  width: inherit;
  height: inherit;
  fill: $text-color;
  position: relative;
  z-index: 1;

  .heart {
    transition: fill 0.1s;
    transform-origin: center center;
  }

  .contour {
    fill: $text-color;
  }

  .main-body {
    fill: $page-background;
    transition: fill 0.3s linear;
  }

  .core {
    fill: $page-background;
    transition: fill 0.3s 0.05s;
  }

  .sparks {
    opacity: 0;
    fill: $heart-color;
  }

  &:hover {
    .main-body {
      fill: $text-color;
    }

    .core {
      fill: $text-color;
    }
  }

  &:active {
    .main-body {
      fill: $heart-color;
    }

    .core {
      fill: $heart-color;
    }
  }

  &.is-liked {
    .contour {
      fill: $heart-color;
    }

    .main-body {
      fill: $heart-color;
    }

    .core {
      fill: $heart-color;
    }
  }
}

.button {
  @include PressStart2PFont(14px);
  position: relative;
  overflow: hidden;
  color: $mix-blend-color;
  background: none;
  border: 2px solid $stroke-color;
  cursor: pointer;
  transition: 0.5s ease-in-out;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: $text-color;
    transform: translateX(-100%);
    transition: transform 0.5s ease-in-out;
  }

  &:hover {
    &::before {
      transform: translateX(0);
    }
  }

  &:focus {
    outline: none;
  }

  &:focus-visible {
    box-shadow: 2px 2px 0px 0px $text-color;
  }

  &__text {
    color: $mix-blend-color;
    mix-blend-mode: difference;
  }
}

.save-button {
  padding: 15px 20px;
  margin: 0 auto;
  display: flex;
  gap: 8px;
  align-items: center;
  background: $page-background;

  @media (width <= 375px) {
    flex-direction: column;
  }
}

.ok-button {
  text-transform: uppercase;
  width: 100%;
  padding: 10px 0;
  background: $page-background;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.header {
  font-family: $accent-font-family;
  text-align: center;
  margin: 100px 0;
  padding: 136px 0 23px;
  background: $header-bg;
  border: 2px solid $stroke-color;

  &__link {
    font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
    text-transform: uppercase;
  }

  &__title {
    font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
    text-transform: uppercase;
    margin: 20px 0 25px;
  }

  @media (width <= 375px) {
    padding: 120px 0 24px;
  }
}

.theme-menu {
  &__list {
    font-size: 14px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
    text-align: start;
    margin: 0 45.1%;

    @media (width <= 375px) {
      margin: 0 41.1%;
    }
  }

  &__item {
    position: relative;
  }

  &__button {
    padding: 0;
    text-transform: uppercase;
    background: none;
    border: none;
    overflow: hidden;
    opacity: 1;
    transition: opacity 0.3s ease;
    cursor: pointer;

    &:disabled {
      opacity: 0.6;
      pointer-events: none;

      &::before {
        content: "▶";
        position: absolute;
        left: -15px;
      }
    }

    &::after {
      content: "";
      display: block;
      width: 100%;
      height: 2px;
      background-color: $text-color;
      opacity: 0.6;
      transition: transform 0.3s ease;
      transform: translateX(-100%);
    }

    &:hover {
      opacity: 0.6;
    }

    &:focus {
      outline: none;
      opacity: 0.6;
    }

    &:focus-visible {
      opacity: 0.6;

      &::after {
        transform: translateX(0);
      }
    }
  }
}

.section {
  display: inherit;
  flex-direction: inherit;
  gap: inherit;
}

.card {
  border: 2px solid $stroke-color;
  background: $header-bg;

  &__title {
    font-size: 18px;
    font-variation-settings: $title-font-wght;
    padding: 4px 10px;
  }

  &__image {
    display: block;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;

    &-container {
      overflow: hidden;
      position: relative;
      border-top: 2px solid $stroke-color;
      border-bottom: 2px solid $stroke-color;
    }
  }

  &__text {
    &-container {
      padding: 26px 25px;
      font-size: 18px;
      display: flex;
      flex-direction: column;
      gap: 26px;
    }
  }

  &__icon-button {
    padding: 0;
    width: 39px;
    height: 36px;
    background: transparent;
    border: none;
    cursor: pointer;

    &:focus {
      outline: none;
    }

    &:focus-visible {
      outline: 2px solid $stroke-color;
    }
  }

  &__like-button {
    width: 130px;
    padding: 10px 0;

    &-container {
      display: flex;
      align-items: center;
      justify-content: end;
      gap: 6px;
    }
  }

  &:nth-child(7) {
    .card__text {
      @media (width <= 375px) {
        max-width: 317px;
      }
    }
  }
}

.dialog {
  @include PressStart2PFont(14px);
  padding: 30px 26px;
  color: $text-color;
  background: $page-background;
  border: 2px solid $stroke-color;

  &::-webkit-backdrop {
    background-color: rgba(0, 0, 0, 0.75);
  }

  &::backdrop {
    background-color: rgba(0, 0, 0, 0.75);
  }

  &:not([open]) {
    display: none;
    opacity: 0;
    pointer-events: none;
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 26px;

    @media (width <= 375px) {
      gap: 28px;
    }
  }

  &__text {
    text-transform: uppercase;
    line-height: 1.5;
    max-width: 234px;
    width: 100%;

    &-container {
      display: flex;
      gap: 22px;
      align-items: center;
    }

    @media (width <= 375px) {
      width: 80%;
    }
  }

  .floppy-image {
    width: 39px;
    height: 39px;
    mix-blend-mode: normal;
  }

  @media (width <= 375px) {
    padding: 32px 38px;
  }
}
